* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Open Sans", Arial, sans-serif;
}
#navbar {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 22%;
    height: 100%;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
}
#nav-header {
    padding: 12px;
    top: 0%;
    font-weight: lighter;
    line-height: 43px;
    font-size: 25px;
    text-align: center;
}
#nav-list {
    height: 90%;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-items-div {
    border-top: 1px solid #4d4e53;
}
.nav-items {
    padding: 15px;
    padding-left: 30px;
    text-align: left;
}
.nav-link {
    text-decoration: none;
    color: #4d4e53;
}
#content {
    width: 78%;
    padding: 20px 30px 20px;
    margin-left: 22%;
    /* border: 1px solid black; */
}
.content-header {
    font-weight: lighter;
    font-size: 29px;
    line-height: 43px;
}
.content-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15.5px;
    line-height: 23px;
    margin-left: 15px;
    color: #4d4e53;
}   
.list {
        margin-left: 5%;
}
.div-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.code-div {
    /* border: 1px dotted yellow; */
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f7f7f7;
    font-size: 12.5px;
    line-height: 25px;
}

@media (max-width: 1000px) {
    #navbar {
        /* background-color: white; */
        display: block;
        position: fixed;
        top: 0%;
        width: 100%;
        height: auto;
        border-bottom: 3px solid rgba(0, 22, 22, 0.4);
    }
    #nav-header {
        /* border: 1px solid yellow; */
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    #nav-list {
        padding: 10px 0;
        height: auto;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
    }
    .nav-items {
        /* border: 1px solid black; */
        width: 100px;
        height: 50px;
        padding: 10px;
        margin: 1px;
        border-radius: 2px;
        /* display: flex; */
        overflow: hidden;
    }
    .nav-items-div {
        border: none;   
    }
    #content {
        display: flex;
        flex-direction: column;
        position: fixed;
        display: block;
        overflow: scroll;
        width: 100%;
        height: 80%;
        margin: 0%;
        margin-top: 150px;
        padding: 10px;
        /* border: 1px solid blue; */
    }
    .content-body {
        /* margin: 0%; */
    }
    .list {
        /* margin: 0%; */
    }
    .code-div {
        margin: 0%;
    }
    
}